.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100%;
    width: 100%;
    background-color: #222; 
    border-radius: 10px;
    box-shadow: 0 0 7px rgba(233, 229, 11, 0.87);
    padding: 20px 20px;

    .setter {
        display: flex;
        flex-direction: column;
        height: fit-content;
        justify-content: center;
        align-items: center;
        width: calc(100% - 40px);
        margin: 20px 0;

        .setting-title {
            color: #ccc;
        }

        .setting {
          display: flex;
          height: 100%;
          max-width: 100%;
          justify-content: center;
          align-items: center;
        }
    }
}

.days-number {
    display: flex;
    flex-direction: column;
    
    .counter {
        display: flex;
        justify-content: center;
        align-items: center;
      
        .change-count {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 20px;
          width: 35px;
          height: 35px;
          border: 2px solid transparent;
          background-color: #222;
          border-radius: 50%;
          color: #222;
          cursor: pointer;

          mat-icon {
            color: yellow;
            overflow: visible;
          }

          &:hover {
            border-color: #f75ff7;
          }
        
          &:disabled {
            cursor: default;
            mat-icon {
              color: red;
            }

            &:hover {
              border-color: transparent;
            }
          }
        }

        .number-input {
          width: 70px;
          text-align: center;
          color: #ccc;
          background-color: #222;
          border-bottom: 1px solid #ccc;
          border-right: none;
        }
    }
}

mat-button-toggle-group {
  overflow-x: auto;

  .mat-pseudo-checkbox {
    background-color: #f75ff7;
  }
}

.setting .custom-checkbox {
  flex: 1;
  border-right: 1px solid white;
  padding: 0 10px;
}

.setting .custom-checkbox:last-child {
  border-right: none;
}