.upload-container {
    display: flex;
    max-height: 100%;
    width: 100%;
    border: 10px dashed gray;
    border-radius: 10px;

    .upload-button {
        width: 100%; 
        height: 100%; 
        background-color: inherit;
        top: 0; 
        left: 0; 
        cursor: pointer;
        border: none;

        .upload-icon {
            color: yellow;
            height: 70px;
            width: 70px;
            font-size: 70px;
        }
    }
}

.selected-chart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%; 
    height: 100%;
    background-color: #222; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);

    p {
        font-size: 20px;
        font-weight: bold;
        color: #222;
        text-shadow: -1px 0 rgb(167, 3, 3), 0 1px rgb(167, 3, 3), 1px 0 rgb(167, 3, 3), 0 -1px rgb(167, 3, 3);
        margin-top: 10px;
        margin-bottom: 0px;    
    }

    .chart {
        display: flex;
        height: calc(100% - 50px);
        width: 100%;
        flex-direction: column;
        padding-bottom: 10px;
    }
}