.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 50vw;
    //background-color: #808080;

    .upload {
        display: flex;
        height: 100%;
        width: 50%;
        float: left;
    }

    .set {
        display: flex;
        height: 100%;
        width: 50%;
        float: right;
        background-color: red;
    }
}